body{
    background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
    background-blend-mode: darken;
}
.questions_box,.success,.chess{
    display: none;
}
.start_modal,.questions_box,
.box_display,.success,.chess{
  max-width: 571px;
  min-width: 300px;
  height: auto;
  top: 10px;
  margin:auto;
  background: #FFFFFF;
  transition:all 1.3s ease;
}
.start_modal h1{
  max-Width:572px;
  min-width: 300px;
  Height:39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
}
.start_modal p{
  max-width: 491px;
  min-width: 300px;
  height: 126px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #555555;
  margin:auto; 
}
.start_modal label{
  max-Width:429px;
  min-width: 300px;
  Height:17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  margin: 15px;
}
.start_modal input{
  width: 491px;
  Height:59px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #FF3838;
  margin:15px;
  padding: 15px;
  color: #555555;
}
.btn_wrapper{
    text-align: center;
}
.start_btn{
  max-width:226px;
  min-width: 150px;
  height:56px;
  background-color: #028A3D;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  padding:10px;
  margin: 10px;
}
.questions_box p{
  max-Width:491px;
  min-width: 300px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555; 
  top: 0.43px;
  margin: auto;
  text-align:center;
}
.questions_box #N{
    color: #555555;
    margin: 40px;
}

.questions_box .option {
  Width:491px;
  Height:59px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin:auto;
  padding-bottom:15px;
  cursor: pointer;
  text-align: left;
} 
.questions_box .option:focus{
  background:rgba(2, 138, 61, 0.42);
}
.btns{
    text-align: center;
    margin: 15px;
}
.btns .quit{
  Width:200px;
  Height:59px;
  background: #EC880C;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin:15px;
}
.btns .continu{
  background:rgba(2, 138, 61, 0.42);
  Width:200px;
  Height:59px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.timer{
    float: right;
    padding: 5px;
  margin-right:30px;
}
.success,.chess{
    padding: 25px;
    text-align: center;
}
.success .success_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #555555;
}
.success .success_email{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #555555;
}
.home1,.home2{
  Width:226px;
  Height:59px;
    background: #0880D6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}
.progress-bar{
  Width:90%;
  Height:10px;
  border-Radius:10px;
  background: #028A3D;
  margin: 40px;
  transition:all 0.99s;
}
#required_mail{
    font-size: 10px;
    color: red;
    padding: 5px;
}
#required_name{
    font-size: 10px;
    color: red;
    padding: 5px;
}
.option [type="radio"]{
  opacity: 0;

}
 .option [type="radio"] + label{
    position:relative;
    cursor:pointer;
    display:inline-block;
    color: #555555;
    line-height:32px;
     margin-left:10px;
    top:12px;
}
.option [type="radio"] + label::before{
  content:"";
  width:14px;
  height:14px;
  position:absolute;
  left:4px;
  border-radius: 100%;
  border: 1px solid #DDDDDD;
}
.option [type="radio"]:checked + label::after{
    content:"";
    position:absolute;
    left:1px;
    width:16px;
    height:14px;
    background: #028A3D;
    border: 1px solid #028A3D;
    border-radius: 100%;
    transform:scale(1);
    opacity:1;
    transition:all .3s ease;
}
.option [type="radio"]:not(:checked) + label::after{
    content:"";
    position:absolute;
  top:0;
    left:0;
    width:14px;
    height:14px;
    border-radius:100%;
    background:#fff;
    transform:scale(0);
    opacity:0;
}
@media screen and (max-width:520px) {
  .start_modal input{
    width: 320px;
    margin: 20px;
  }
  .questions_box .option{
    Width:320px;
    Top:19px;
}
  .option [type="radio"] + label{
  top:10px;
  font-size:16px;
}
  .option [type="radio"]{
 padding:5px;
}
 
  .start_modal p{
  font-size: 16px;
  line-height: 22px;
  }
  .questions_box label{
    color: #555555; 
    margin-top: 20px;
  }
  .btns{
    display:inline;
  }
   .btns .continu,.btns .quit{
     width:120px;
   }
}